* {
    text-align: center;
    font-family: 'Arial';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    justify-content: center;
    gap: 20px;
}

.board > div {
    background-color: gray;
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}